/* App.css */
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.body {
  margin: 0;
  padding: 0;
}


.content {
  margin: 1em;
  margin-top: 40px;
}

.navbar {
  background-color: #333;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 25px;
  margin: 0;
}


.navbar-links {
  margin-right: auto;
}

.navlink {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 30px;
  padding: 5px 10px;
  border-radius: 5px;
}

.navlink:hover {
  background-color: #555;
}

.navlink.active {
  background-color: #555;
}

.social-link {
  color: #fff;
  text-decoration: none;
  margin-left: 15px;
  font-size: 45px;
  position: relative;
  top: 10px;
}

.social-link:hover {
  opacity: 0.8;
}

.footer {
  background-color: #333;
  padding: 8x;
  text-align: left;
  margin-top: auto;
  /* Pushes the footer to the bottom */
  border-radius: 30px;
}

/* Mobile Styles (max-device-width: 640px) */
@media screen and (max-device-width: 640px) {
  .navbar{
    padding: 13px;
  }
  .navlink{
    font-size: 15px;
  }
}

/* Tablet Styles (min-device-width: 641px) and (max-device-width: 1024px) */
@media screen and (min-device-width: 641px) and (max-device-width: 1024px) {}

/* Desktop Styles (min-device-width: 1025px) */
@media screen and (min-device-width: 1025px) {}